*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../../images/pexels-photo-2324562.jpeg);
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  background-size: cover;
  background-attachment: fixed;
}

.css-selector {
  background: linear-gradient(222deg, #0dff8c, #0098ff, #ff004d);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main-container {
  margin-left: 15px;
  margin-right: 15px;
}

.text {
  margin-bottom: 30px;

  order: -1;
}

// form#form {
//         margin-top: 30px;
//         margin-bottom: 30px;
//     }
